.banner {
  background: #ffffff;
  width: 100%;
  border-bottom: #cccccc 8px;
  font-family: "Georgia", Times, Times New Roman, serif;
}

h2 {
  color: #4aaaa5;
  padding: 0px 0px 20px 0px;
  border-bottom: 3px solid #cccccc;
  font-size: 40px;
}

p {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

footer {
  text-align: center;
  background: #666666;
  width: 100%;
  font-size: 18px;
  padding: 40px 0px 0px 0px;
  border-top: 8px solid #4aaaa5;
  position: absolute;
  bottom: 0;
}

h1 {
  color: #ffffff;
  width: 200px;
  height: 100px;
  background: #4aaaa5;
  text-align: center;
  padding: 15px 0px 15px 0px;
}

.info {
  text-align: right;
}

.box {
  width: 960px;
  background: #ffffff;
  border-color: #dddddd;
  border: 5px;
  margin: auto;
  padding: 10px;

  box-sizing: inherit;
}

.submit {
  width: 250px;
  background-color: #4aaaa5;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  width: 10%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

img {
  float: left;
  padding: 0px 20px 20px 0px;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

span:not(:first-child) {
  border-left: 1px solid #cccccc;
}

.info {
  padding: 5px 0px;
  margin: 20px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: gray;
}

span {
  padding: 0 5px;
}
